<h2>
  <%= link_to post.title, post %>
</h2> 


<p class="text-success">
  By: <%= post.name %>
</p>

<p>
  <%= simple_format post.content %>
</p>

<p class="text-muted">
  <small>
    Posted on: <%= post.created_at.to_formatted_s(:long) %>  
  </small>  
  <span class="label label-info">
	  <%= post.comments.count %>
	  <span class="glyphicon glyphicon-comment"></span>
  </span>
</p>

