<h1>All Posts</h1>

<table class="table"> 
  <thead>
    <tr>
      <th>Title:</th>
      <th>By:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post %></td>
      <td><%= post.name %></td>
      <td><%= link_to '編集', edit_post_path(post) %></td>
      <td><%= link_to '削除', post, :method => :delete, data: { confirm: '本当に消すの？' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= will_paginate @posts %>

